div {
  margin-top: 60px;
}

md-list-item {
  display: block;
  padding: 3px;
  cursor: pointer;
}

md-list-item.selected {
  background-color: lightskyblue;
}

button {
  transform: scale(0.75);
  margin-top: 5px;
  float: right;
}
